* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.header {
  position: relative;
}


.back {
  position: absolute;
  left: 20px;
  top: 30px;
  color: #2D0C57;
  font-size: 24px;
}


.cart {
  top: 27px;
  position: absolute;
  right: 60px;
  color: #000;
  font-size: 30px;
}

.logo {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #000;
  font-size: 30px;
}

.search {
  margin-top: 30px;
  color: #000;
  width: 90%;
  margin-left: 5%;
  height: 45px;
  padding: 0 10px !important;
  border-radius: 100px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: 1px 1px 4px 0px rgba(219, 219, 219, 1);
  box-shadow: 1px 1px 4px 0px rgba(219, 219, 219, 1);
}

.select {
  padding: 10px 20px;
  color: #000000;
  width: 90%;
  margin-left: 5%;
  background-color: #ffd421;
  margin-top: 15px;
  border-radius: 100px;
  border: 0;
}

.publi {
  margin-top: 20px;
  width: 94%;
  margin-left: 3%;
  object-fit: cover;
}

.container-product {
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid gray;
}

.flex {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.img-product {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.name-product {
  margin-top: 20px;
  color: #2D0C57;
  font-weight: 500;
  font-size: 18px;
}

.price {
  margin-top: 10px;
  color: #000;
  font-weight: 500;
  font-size: 24px;
}

.heart {
  padding: 0 !important;
  --background: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 10px 15px !important;
  width: 120px;
  height: 60px;
  color: #000;
}

.heart-selected {
  padding: 0 !important;
  --background: rgb(255, 77, 77);
  border-radius: 10px;
  padding: 10px 15px !important;
  width: 120px;
  height: 60px;
  color: #fff;
}

.cart-btn {
  margin-left: -10px;
  --background: #0BCE83;
  border-radius: 10px;
  padding: 10px 15px !important;
  width: 120px;
  height: 60px;
}
