* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.header {
  position: relative;
}


.back {
  position: absolute;
  left: 20px;
  top: 30px;
  color: #2D0C57;
  font-size: 24px;
}


.cart {
  top: 27px;
  position: absolute;
  right: 60px;
  color: #000;
  font-size: 30px;
}

.logo {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #000;
  font-size: 30px;
}

.retangle {
  width: 98%;
  margin-left: 1%;
  margin-top: 20px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 20px;
  color: #475062;
}

.sub {
  font-size: 10px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 20px;
  color: #6E7A90;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input {
  border-radius: 10px;
  border: 1px solid #6E7A90;
  width: 100px;
  color: #000;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
}

.add {
  margin-left: 20px;
  margin-top: 20px;
  --background: #FFD421;
  color: #000;
  font-size: 14px;
}

.declaration {
  font-size: 10px;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  color: #929AA9;
}

  
.btn {
    --background: #FFD421;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #000000;
    width: 80%;
    margin-left: 10%;
    height: 55px;
  }