<ion-header class="ion-no-border">
  <ion-toolbar>
    <h1 class="title">Driver Name</h1>
    <p class="sub">Active Now</p>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-geral-txt">
    <div class="flex">
      <div>
        <img class="avatar" src="../../assets/Avatar.png" alt="">
      </div>
      <div class="container-txt">
        <p class="txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, reiciendis asperiores
        </p>
      </div>
    </div>

    <div class="flex">
      <div class="container-txt">
        <p class="txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, reiciendis asperiores
        </p>
      </div>
      <div>
        <img class="avatar" src="../../assets/Avatar.png" alt="">
      </div>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="flex-footer">
      <div>
        <ion-input class="input" placeholder="For the feeling of an actual chat...">
          <ion-icon  class="cam" name="camera-sharp"></ion-icon>
        </ion-input>
      </div>
      <div>
        <ion-icon class="send" name="send-sharp"></ion-icon>
      </div>
    </div>

  </ion-toolbar>
</ion-footer>