* {
    margin: 0;
    padding: 0;
  }
  
  ion-content {
    --background: #fff;
  }
  
  .header {
    position: relative;
  }
  
  .back {
    position: absolute;
    left: 20px;
    top: 30px;
    color: #2D0C57;
    font-size: 24px;
  }
  
  .logo {
    width: 30%;
    margin-top: 30px;
    margin-left: 35%;
  }
  
  .menu {
    position: absolute;
    right: 20px;
    top: 25px;
    color: #2D0C57;
    font-size: 34px;
  }

  .input {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    background-color: #F7F8F9;
    border-radius: 7px;
    padding: 10px 10px !important;
    color: #363636;
  }
  
  .icon {
    color: #363636;
    margin-right: 10px;
    font-size: 24px;
  }
  

  
  ion-button {
    --background: #ffd421;
  }
  
  ion-item {
    --background: #ffd421;
    --border: 0 !important;
    border-radius: 100px;
    color: #000000;
    font-size: 16px;
  }
  
  .mg-top-150{
    margin-top: 150px;
  }
  
  
  .btn {
    margin-top: 50px;
    color: #000000;
    width: 80%;
    margin-left: 10%;
    height: 55px;
  }
  