<ion-content>
  <div class="header">
    <ion-icon [routerLink]="['../product-simple']" class="back" name="chevron-back-outline"></ion-icon>
    <img class="logo" src="../../assets/logo-preto.png">
    <ion-menu-button class="menu"></ion-menu-button>
  </div>

  <div class="mg-top-150">
    <ion-input class="input" type="password" placeholder="Old Password">
      <ion-icon class="icon" name="lock-closed"></ion-icon>
    </ion-input>
    <ion-input class="input" type="password" placeholder="New Password">
      <ion-icon class="icon" name="lock-closed"></ion-icon>
    </ion-input>
    <ion-input class="input" type="password" placeholder="Confirm Password">
      <ion-icon class="icon" name="lock-closed"></ion-icon>
    </ion-input>
 
  </div>

  <div>
    <ion-button [routerLink]="['../product-simple']" class="btn">Confirm</ion-button>
  </div>
</ion-content>