<ion-content>
  <div class="header">
    <ion-icon [routerLink]="['../folder/inbox']" class="back" name="chevron-back-outline"></ion-icon>
    <img class="logo" src="../../assets/logo-preto.png">
    <ion-icon class="cart" name="cart-outline"></ion-icon>
    <ion-menu-button class="menu"></ion-menu-button>
  </div>
  <div>
    <h1 class="title">
      Cart
    </h1>
  </div>

  <div class="container-cart">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <img class="img-cart" src="../../assets/jack-cart.png" alt="">
        </ion-col>
        <ion-col size="4">
          <h1 class="name">Jack Daniel's</h1>
          <p class="qtd">Quantity 01 Bottle</p>
        </ion-col>
        <ion-col size="3">
          <div class="qtd-products">
            01
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="price-products">
            €12,99
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="x">
      x
    </div>
  </div>


  <div class="container-cart">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <img class="img-cart" src="../../assets/choco-cart.png" alt="">
        </ion-col>
        <ion-col size="4">
          <h1 class="name">Milka</h1>
          <p class="qtd">100gr</p>
        </ion-col>
        <ion-col size="3">
          <div class="qtd-products">
            01
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="price-products">
            €12,99
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="x">
      x
    </div>
  </div>

  <div class="container-cart">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <img class="img-cart" src="../../assets/choco-cart.png" alt="">
        </ion-col>
        <ion-col size="4">
          <h1 class="name">Milka</h1>
          <p class="qtd">100gr</p>
        </ion-col>
        <ion-col size="3">
          <div class="qtd-products">
            01
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="price-products">
            €12,99
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="x">
      x
    </div>
  </div>

  <div class="total">
    <div>
      <h1 class="title-total">
        Total
      </h1>
      <p class="sub-total">
        inclusiv Mwst
      </p>
    </div>
    <div>
      <h1 class="price-total">
        € 34.89
      </h1>
    </div>
  </div>

  <div>
    <ion-button class="btn">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
  </div>

  <div>
    <ion-button [routerLink]="['../address']" style="margin-bottom: 30px;" class="btn mg-top-20">Payment</ion-button>
  </div>

</ion-content>