* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.header {
  position: relative;
}

.back {
  position: absolute;
  left: 20px;
  top: 30px;
  color: #2D0C57;
  font-size: 24px;
}

.logo {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
}

.menu {
  position: absolute;
  right: 20px;
  top: 25px;
  color: #2D0C57;
  font-size: 34px;
}

.map {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.container {
  background-color: #ffffd3;
  width: 96%;
  margin-left: 2%;
  border: 1px solid #FFD421;
  padding: 20px;
}

.title {
  font-size: 15px;
  font-weight: 500;
  color: #223263;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.desconto {
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  width: 80px;
  text-align: center;
  background-color: #fff;
}

.selected {
  border: 2px solid #ffd900 !important;
}

.sub {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #223263;
  text-align: center;
}

.select {
  padding: 10px 20px;
  color: #000000;
  width: 100%;
  background-color: #ffd421;
  margin-top: 20px;
  border-radius: 100px;
  border: 0;
}

.btn {
  margin-top: 20px;
  color: #000000;
  width: 90%;
  height: 55px;
  margin-left: 5%;
}

ion-button {
  --background: #ffd421;
}

.flex-star {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.img-cart {
  width: 40px;
  justify-content: center;
  object-fit: cover;
  margin-top: 5px;
  margin-left: 5px;

}

.container-produtos {
  background-color: #ffffd3;
  width: 96%;
  margin-left: 2%;
  border: 1px solid #FFD421;
  margin-bottom: 30px;
}

.container-cart {
  position: relative;
  height: 80px;
  margin-top: 10px;
  width: 98%;
  margin-left: 1%;
  background-color: #F6F6F8;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.name {
  font-size: 15px;
  font-weight: 500;
  color: #252B35;

}

.qtd {
  font-size: 11px;
  font-weight: 500;
  color: #596273;
}

.qtd-products {
  border-radius: 10px;
  border: 1px solid #818A99;
  padding: 1px 2px;
  color: #252B35;
  text-align: center;
  font-size: 15px;
  width: 80%;
  margin-left: 10%;
  margin-top: 5px;

}

.price-products {
  border-radius: 10px;
  border: 1px solid #818A99;
  padding: 1px 8px;
  color: #252B35;
  text-align: center;
  font-size: 15px;
  width: 80%;
  margin-top: 5px;
}
