* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.header {
  position: relative;
}

.back {
  position: absolute;
  left: 20px;
  top: 30px;
  color: #2D0C57;
  font-size: 24px;
}

.logo {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
}

.title {
  font-size: 22px;
  color: #000000;
  margin-top: 40px;
  margin-left: 20px;
}

.input-id {
  padding-left: 20px !important;
  padding-right: 25% !important;
  margin-top: 30px;
  height: 50px;
  position: relative;
  width: 90%;
  margin-left: 5%;
  color: #000000;
  border-radius: 100px;
  padding-left: 50px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: 1px 1px 4px 0px rgba(219, 219, 219, 1);
  box-shadow: 1px 1px 4px 0px rgba(219, 219, 219, 1);
}

.btn {
  display: flex;
  align-items: center;
  font-size: 24px;
  background-color: #ffd421;
  position: absolute;
  right: 0;
  border-radius: 100px;
  width: 25%;
  height: 100%;
  justify-content: center;
}

.img-id {
  margin-top: 20px;
}

.txt-id {
  margin-top: 30px;
  color: #A7A7A7;
}


.select {
  padding: 10px 20px;
  color: #000000;
  width: 90%;
  margin-left: 5%;
  background-color: #ffd421;
  margin-top: 50px;
  border-radius: 100px;
  border: 0;

}

.aviso {
  margin-top: 40px;
  color: #A7A7A7;
  width: 82%;
  margin-left: 9%;
}

.cta {
  margin-top: 50px;
  color: #000000;
  width: 80%;
  height: 55px;
  margin-left: 10%;
}

ion-button {
  --background: #ffd421;
}

ion-item {
  --background: #ffd421;
  --border: 0 !important;
  border-radius: 100px;
  color: #000000;
  font-size: 16px;
}

.dec {
  margin-top: 40px;
  color: #A7A7A7;
  text-align: center;
}
