<ion-content>
  <div class="header">
    <ion-icon  [routerLink]="['../details']" class="back" name="chevron-back-outline"></ion-icon>
    <h1 class="title">Terms of use</h1>
  </div>
  <div>
    <ion-card class="card">
      <ion-card-content>
        <div>
          <h1 class="title-card"> Title </h1>
          <img class="line" src="../../assets/line.png" alt="">
        </div>
        <div>
          <p class="txt-terms">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis nisi ducimus accusamus? Delectus saepe
            explicabo velit, tempore vitae corrupti beatae expedita omnis. Sequi possimus amet deleniti corrupti
            quibusdam iusto illum?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis nisi ducimus accusamus? Delectus saepe
            explicabo velit, tempore vitae corrupti beatae expedita omnis. Sequi possimus amet deleniti corrupti
            quibusdam iusto illum?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis nisi ducimus accusamus? Delectus saepe
            explicabo velit, tempore vitae corrupti beatae expedita omnis. Sequi possimus amet deleniti corrupti
            quibusdam iusto illum?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis nisi ducimus accusamus? Delectus saepe
            explicabo velit, tempore vitae corrupti beatae expedita omnis. Sequi possimus amet deleniti corrupti
            quibusdam iusto illum?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis nisi ducimus accusamus? Delectus saepe
            explicabo velit, tempore vitae corrupti beatae expedita omnis. Sequi possimus amet deleniti corrupti
            quibusdam iusto illum?
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>