* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #FFD421;
}

.back {
  margin-left: 20px;
  margin-top: 20px;
  color: #2D0C57;
  font-size: 24px;
  margin-bottom: 10px;
}

.title {
  color: #363636;
  font-size: 18px;
  position: absolute;
  top: 20px;
  left: 60px;
}

.card {
  height: 100vh;
  width: 100vw;
  border-radius: 20px 20px 20px 0;
  --background: #fff;
}

.title-card {
  font-weight: 500;
  margin-top: 20px;
  font-size: 21px;
  color: #223263;
  text-align: center;
}

.line {
  width: 80%;
  margin-left: 10%;
}

.txt-terms {
  width: 80%;
  margin-left: 10%;
  font-weight: 500;
  margin-top: 20px;
  font-size: 13px;
  color: #223263;
}
