* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.otp {
  width: 40%;
  margin-left: 30%;
  margin-top: 50%;
}

.title {
  margin-top: 30px;
  font-size: 28px;
  color: #3A3B3F;
  text-align: center;
}

.sub {
  margin-top: 10px;
  margin-left: 15%;
  max-width: 70%;
  font-size: 12px;
  color: #3A3B3F;
  text-align: center;
}

ion-button {
  --background: #ffd421;
}

ion-item {
  --background: #ffd421;
  --border: 0 !important;
  border-radius: 100px;
  color: #000000;
  font-size: 16px;
}

.btn {
 
  margin-top: 50px;
  color: #000000;
  width: 80%;
  margin-left: 10%;
  height: 55px;
}

.resend {
  margin-top: 40px;
  font-size: 20px;
  color: #363636;
  text-align: center;

}

.input {
  margin-left: 7px;
  text-align: center;
  font-size: 40px;
  color: #363636;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: #F7F8F9;
}

.container {
  margin-top: 30px;

}
