* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.header {
  position: relative;
}


.back {
  position: absolute;
  left: 20px;
  top: 30px;
  color: #2D0C57;
  font-size: 24px;
}


.cart {
  top: 27px;
  position: absolute;
  right: 60px;
  color: #000;
  font-size: 30px;
}

.logo {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #000;
  font-size: 30px;
}

.title {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin-bottom: 30px;
}

.add {
  margin-left: 20px;
  margin-top: 20px;
  --background: #FFD421;
  color: #000;
  font-size: 14px;
}

.icon-add {
  font-size: 16px;
  margin-top: -5px;
  margin-left: 10px;
  color: #000;
}

.sub-title{
  font-size: 14px;
  color: #475062;
  margin-left: 20px;
  margin-top: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}

.container{
  margin-top: 20px;
  position: relative;
}

.img-saves {
  border-radius: 100px;
  object-fit: cover;
  width: 40px;
  margin-left: 20px;
}

.title-pay{
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
  color: #475062;
  font-weight: 500;
}

.sub-pay{
  margin-left: 10px;
  font-size: 10px;
  color: #6E7A90;
  font-weight: 500;
}

.x{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #596273;
  border: 1px solid #9BA3B3;
  font-size: 12px;
  padding: 0 5px;
}

.flex{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.imgs{
  width: 60px;
  object-fit: cover;
  border-radius: 100;

}

.btn {
  --background: #FFD421;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #000000;
  width: 80%;
  margin-left: 10%;
  height: 55px;
}