* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.header {
  position: relative;
}


.back {
  position: absolute;
  left: 20px;
  top: 30px;
  color: #2D0C57;
  font-size: 24px;
}


.cart {
  top: 27px;
  position: absolute;
  right: 60px;
  color: #000;
  font-size: 30px;
}

.logo {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #000;
  font-size: 30px;
}

.warning{
  padding: 20px 10px;
  width: 100%;
  background-color: #EA6940;
}

.age{
  font-size: 18px;
  color: #FFD522;
  font-weight: 500;

}

.verification{
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  
}

.learn{
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  right: 10px;
  text-align: end;
  
}

.img {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}

.title {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  margin-left: 20px;
  margin-top: 10px;
}

.price {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  margin-left: 20px;
  margin-top: 10px;
}

.qtd {
  font-size: 18px;
  font-weight: 500;
  color: #9586A8;
  margin-left: 20px;
  margin-top: 10px;
}

.sub {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin-left: 20px;
  margin-top: 10px;
}


.description {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-left: 20px;
  margin-top: 10px;
}


.heart {
  padding: 0 !important;
  --background: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 10px 15px !important;
  width: 130px;
  height: 70px;
  color: #000;
}

.heart-selected {
  padding: 0 !important;
  --background: rgb(255, 77, 77);
  border-radius: 10px;
  padding: 10px 15px !important;
  color: #fff;
  width: 130px;
  height: 70px;
}

.cart-btn {
  margin-left: -10px;
  --background: #0BCE83;
  border-radius: 10px;
  padding: 10px 15px !important;
  width: 230px;
  height: 70px;
}


.flex {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
