* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.header {
  position: relative;
}


.back {
  position: absolute;
  left: 20px;
  top: 30px;
  color: #2D0C57;
  font-size: 24px;
}


.cart {
  top: 27px;
  position: absolute;
  right: 60px;
  color: #000;
  font-size: 30px;
}

.logo {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #000;
  font-size: 30px;
}

.title {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #252C3B;
  text-align: center;
}

.sub {
  margin-top: 20px;
  font-size: 10px;
  font-weight: 500;
  color: #6E7A90;
  text-align: center;
}


.input {
  border: 1px solid #9BA3B3;
  margin-left: 7px;
  text-align: center;
  font-size: 40px;
  color: #363636;
  height: 70px;
  width: 55px;
  border-radius: 10px;
}

.container {
  margin-top: 50px;
}

.wait {
  width: 40%;
  margin-left: 30%;
  margin-top: 30px;
}

.flex {
  border-bottom: 1px solid #CED2DA;
  border-top: 1px solid #CED2DA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.txt-resend {
  font-size: 14px;
  font-weight: 500;
  color: #6E7A90;
}

.btn-resend {
  font-size: 13px;
  font-weight: 500;
  color: #6E7A90;
  border: 1px solid #596273;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn {
  --background: #FFD421;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #000000;
  width: 80%;
  margin-left: 10%;
  height: 55px;
}
